In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import csv
import json

In [2]:
#read in csv
types = pd.read_csv("../mbti_1.csv")
types.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [3]:
# removing piping
types['posts']= types['posts'].str.replace('|','')
types.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krwhtt...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.That's another silly misconcepti...

In [4]:
# removing url's from posts
types['posts'] = types['posts'].str.replace('http\S+|www.\S+', '', case=False)
types.head()

   type                                              posts
0  INFJ  ' and intj moments    sportscenter not top ten...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____    course, to which I say I k...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.That's another silly misconcepti...

In [6]:
#remove punctuation from posts

import string
string.punctuation

def remove_punct(text):
    text_nopunct = "".join([char for char in text if char not in string.punctuation])
    return text_nopunct

types['body_text_clean'] = types['posts'].apply(lambda x: remove_punct(x))

types.head()

,type,posts,body_text_clean
0,INFJ,' and intj moments sportscenter not top ten...,and intj moments sportscenter not top ten ...
1,ENTP,'I'm finding the lack of me in these posts ver...,Im finding the lack of me in these posts very ...
2,INTP,"'Good one _____ course, to which I say I k...",Good one course to which I say I know tha...
3,INTJ,"'Dear INTP, I enjoyed our conversation the o...",Dear INTP I enjoyed our conversation the oth...
4,ENTJ,'You're fired.That's another silly misconcepti...,Youre firedThats another silly misconception T...