In [ ]:
import nltk
nltk.download()

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import csv
import json

In [2]:
#read in csv
types = pd.read_csv("../mbti_1.csv")
types.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

# EDA

In [3]:
# check for null

# unique check mbti_df.nunique()

In [4]:
types.type.value_counts()

INFP    1832
INFJ    1470
INTP    1304
INTJ    1091
ENTP     685
ENFP     675
ISTP     337
ISFP     271
ENTJ     231
ISTJ     205
ENFJ     190
ISFJ     166
ESTP      89
ESFP      48
ESFJ      42
ESTJ      39
Name: type, dtype: int64

In [5]:
# add plots

# Preprocessing

In [6]:
# removing piping
types['posts']= types['posts'].str.replace('|',' ')
types.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw   ...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.   That's another silly misconce...

In [7]:
# removing '
types['posts']= types['posts'].str.replace("'",'')
types.head()

   type                                              posts
0  INFJ  http://www.youtube.com/watch?v=qsXHcwe3krw   h...
1  ENTP  Im finding the lack of me in these posts very ...
2  INTP  Good one  _____   https://www.youtube.com/watc...
3  INTJ  Dear INTP,   I enjoyed our conversation the ot...
4  ENTJ  Youre fired.   Thats another silly misconcepti...

In [8]:
# removing url's from posts
types['posts'] = types['posts'].str.replace('http\S+|www.\S+', ' ', case=False)
types.head()

   type                                              posts
0  INFJ          enfp and intj moments     sportscenter...
1  ENTP  Im finding the lack of me in these posts very ...
2  INTP  Good one  _____       Of course, to which I sa...
3  INTJ  Dear INTP,   I enjoyed our conversation the ot...
4  ENTJ  Youre fired.   Thats another silly misconcepti...

In [9]:
#remove punctuation from posts

import string
string.punctuation

def remove_punct(text):
    text_nopunct = "".join([char for char in text if char not in string.punctuation])
    return text_nopunct

types['body_text_clean'] = types['posts'].apply(lambda x: remove_punct(x))

In [10]:
# change all to lowercase

# remove instances of mbti type

In [11]:
# tokenize data

type_token = types["body_text_clean"]

from nltk.tokenize import word_tokenize
type_token = type_token.apply(word_tokenize)
# types['body_text_clean'] = types['body_text_clean'].apply(word_tokenize)
type_token.head()

0    [enfp, and, intj, moments, sportscenter, not, ...
1    [Im, finding, the, lack, of, me, in, these, po...
2    [Good, one, Of, course, to, which, I, say, I, ...
3    [Dear, INTP, I, enjoyed, our, conversation, th...
4    [Youre, fired, Thats, another, silly, misconce...
Name: body_text_clean, dtype: object

In [13]:
type(type_token)

pandas.core.series.Series