In [ ]:
import nltk
# nltk.download()

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import csv
import json

In [2]:
#read in csv
types = pd.read_csv("../mbti_1.csv")
types.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [3]:
# types['posts'].iloc[0]

# EDA

In [4]:
types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8675 entries, 0 to 8674
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    8675 non-null   object
 1   posts   8675 non-null   object
dtypes: object(2)
memory usage: 135.7+ KB

In [5]:
# check for null
types.isnull().sum()

type     0
posts    0
dtype: int64

In [6]:
# unique check 
types.nunique()

type       16
posts    8675
dtype: int64

In [7]:
types.type.value_counts()

INFP    1832
INFJ    1470
INTP    1304
INTJ    1091
ENTP     685
ENFP     675
ISTP     337
ISFP     271
ENTJ     231
ISTJ     205
ENFJ     190
ISFJ     166
ESTP      89
ESFP      48
ESFJ      42
ESTJ      39
Name: type, dtype: int64

In [8]:
# add plots

# Preprocessing

In [9]:
# removing piping
types['posts']= types['posts'].str.replace('|',' ')
types.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw   ...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.   That's another silly misconce...

In [10]:
# removing '
types['posts']= types['posts'].str.replace("'",'')
types.head()

   type                                              posts
0  INFJ  http://www.youtube.com/watch?v=qsXHcwe3krw   h...
1  ENTP  Im finding the lack of me in these posts very ...
2  INTP  Good one  _____   https://www.youtube.com/watc...
3  INTJ  Dear INTP,   I enjoyed our conversation the ot...
4  ENTJ  Youre fired.   Thats another silly misconcepti...

In [11]:
# removing url's from posts
types['posts'] = types['posts'].str.replace('http\S+|www.\S+', '', case=False)
types.head()

   type                                              posts
0  INFJ        enfp and intj moments    sportscenter no...
1  ENTP  Im finding the lack of me in these posts very ...
2  INTP  Good one  _____      Of course, to which I say...
3  INTJ  Dear INTP,   I enjoyed our conversation the ot...
4  ENTJ  Youre fired.   Thats another silly misconcepti...

In [12]:
# change case to lower
types['posts'] = types['posts'].str.lower()
types.head()

   type                                              posts
0  INFJ        enfp and intj moments    sportscenter no...
1  ENTP  im finding the lack of me in these posts very ...
2  INTP  good one  _____      of course, to which i say...
3  INTJ  dear intp,   i enjoyed our conversation the ot...
4  ENTJ  youre fired.   thats another silly misconcepti...

In [13]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [14]:
#remove punctuation from posts

def remove_punctuation(text):
    no_punctuation = "".join([char for char in text if char not in string.punctuation])
    return no_punctuation

types['body_text_clean'] = types['posts'].apply(lambda x: remove_punctuation(x))

In [15]:
# pulling types from type column
mbti_types = types['type'].unique()

In [16]:
# types to list instead of array
mbti_list = mbti_types.tolist()

In [17]:
# lowercasing types
mbti_new = [x.lower() for x in mbti_list]

In [18]:
# remove references to mbti type in body_text_clean column

for item in mbti_new:
    types['body_text_clean'] = types['body_text_clean'].str.replace(item , "")

types.head()

,type,posts,body_text_clean
0,INFJ,enfp and intj moments sportscenter no...,and moments sportscenter not top te...
1,ENTP,im finding the lack of me in these posts very ...,im finding the lack of me in these posts very ...
2,INTP,"good one _____ of course, to which i say...",good one of course to which i say i kno...
3,INTJ,"dear intp, i enjoyed our conversation the ot...",dear i enjoyed our conversation the other d...
4,ENTJ,youre fired. thats another silly misconcepti...,youre fired thats another silly misconceptio...

In [19]:
# apply word_tokenize to all records
from nltk.tokenize import word_tokenize

types['tokenized'] = types['body_text_clean'].apply(word_tokenize)

types.head()

,type,posts,body_text_clean,tokenized
0,INFJ,enfp and intj moments sportscenter no...,and moments sportscenter not top te...,"[and, moments, sportscenter, not, top, ten, pl..."
1,ENTP,im finding the lack of me in these posts very ...,im finding the lack of me in these posts very ...,"[im, finding, the, lack, of, me, in, these, po..."
2,INTP,"good one _____ of course, to which i say...",good one of course to which i say i kno...,"[good, one, of, course, to, which, i, say, i, ..."
3,INTJ,"dear intp, i enjoyed our conversation the ot...",dear i enjoyed our conversation the other d...,"[dear, i, enjoyed, our, conversation, the, oth..."
4,ENTJ,youre fired. thats another silly misconcepti...,youre fired thats another silly misconceptio...,"[youre, fired, thats, another, silly, misconce..."

In [20]:
# types['body_text_clean'].iloc[0]

In [33]:
# remove stopwords
from nltk.corpus import stopwords
stop = stopwords.words('english')


def stopword_removal(text):
    stop_words = [item for item in text if item not in stop]
    return stop_words

types['stopwords'] = types['tokenized'].apply(lambda x: stopword_removal(x))

In [34]:
# stem porter
import nltk
from nltk.stem import PorterStemmer
ps = nltk.PorterStemmer()

def porter_stem(text):
    porter = [ps.stem(word) for word in text]
    return porter

types['porter_stem'] = types['stopwords'].apply(lambda x: porter_stem(x))

In [35]:
types.head()

,type,posts,body_text_clean,tokenized,stopwords,porter_stem,snow_stem
0,INFJ,enfp and intj moments sportscenter no...,and moments sportscenter not top te...,"[and, moments, sportscenter, not, top, ten, pl...","[moments, sportscenter, top, ten, plays, prank...","[moment, sportscent, top, ten, play, prank, li...","[and, moment, sportscent, not, top, ten, play,..."
1,ENTP,im finding the lack of me in these posts very ...,im finding the lack of me in these posts very ...,"[im, finding, the, lack, of, me, in, these, po...","[im, finding, lack, posts, alarming, sex, bori...","[im, find, lack, post, alarm, sex, bore, posit...","[im, find, the, lack, of, me, in, these, post,..."
2,INTP,"good one _____ of course, to which i say...",good one of course to which i say i kno...,"[good, one, of, course, to, which, i, say, i, ...","[good, one, course, say, know, thats, blessing...","[good, one, cours, say, know, that, bless, cur...","[good, one, of, cours, to, which, i, say, i, k..."
3,INTJ,"dear intp, i enjoyed our conversation the ot...",dear i enjoyed our conversation the other d...,"[dear, i, enjoyed, our, conversation, the, oth...","[dear, enjoyed, conversation, day, esoteric, g...","[dear, enjoy, convers, day, esoter, gab, natur...","[dear, i, enjoy, our, convers, the, other, day..."
4,ENTJ,youre fired. thats another silly misconcepti...,youre fired thats another silly misconceptio...,"[youre, fired, thats, another, silly, misconce...","[youre, fired, thats, another, silly, misconce...","[your, fire, that, anoth, silli, misconcept, a...","[your, fire, that, anoth, silli, misconcept, t..."

In [36]:
# stem snowball
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")

def snowball(text):
    snow = [stemmer.stem(y) for y in text]
    return snow

types['snow_stem'] = types['stopwords'].apply(lambda x: snowball(x))
types.head()

,type,posts,body_text_clean,tokenized,stopwords,porter_stem,snow_stem
0,INFJ,enfp and intj moments sportscenter no...,and moments sportscenter not top te...,"[and, moments, sportscenter, not, top, ten, pl...","[moments, sportscenter, top, ten, plays, prank...","[moment, sportscent, top, ten, play, prank, li...","[moment, sportscent, top, ten, play, prank, li..."
1,ENTP,im finding the lack of me in these posts very ...,im finding the lack of me in these posts very ...,"[im, finding, the, lack, of, me, in, these, po...","[im, finding, lack, posts, alarming, sex, bori...","[im, find, lack, post, alarm, sex, bore, posit...","[im, find, lack, post, alarm, sex, bore, posit..."
2,INTP,"good one _____ of course, to which i say...",good one of course to which i say i kno...,"[good, one, of, course, to, which, i, say, i, ...","[good, one, course, say, know, thats, blessing...","[good, one, cours, say, know, that, bless, cur...","[good, one, cours, say, know, that, bless, cur..."
3,INTJ,"dear intp, i enjoyed our conversation the ot...",dear i enjoyed our conversation the other d...,"[dear, i, enjoyed, our, conversation, the, oth...","[dear, enjoyed, conversation, day, esoteric, g...","[dear, enjoy, convers, day, esoter, gab, natur...","[dear, enjoy, convers, day, esoter, gab, natur..."
4,ENTJ,youre fired. thats another silly misconcepti...,youre fired thats another silly misconceptio...,"[youre, fired, thats, another, silly, misconce...","[youre, fired, thats, another, silly, misconce...","[your, fire, that, anoth, silli, misconcept, a...","[your, fire, that, anoth, silli, misconcept, a..."

In [38]:
types.tail()

,type,posts,body_text_clean,tokenized,stopwords,porter_stem,snow_stem
8670,ISFP,ixfp just because i always think of cats as...,ixfp just because i always think of cats as...,"[ixfp, just, because, i, always, think, of, ca...","[ixfp, always, think, cats, fi, doms, reason, ...","[ixfp, alway, think, cat, fi, dom, reason, esp...","[ixfp, alway, think, cat, fi, dom, reason, esp..."
8671,ENFP,so...if this thread already exists someplace e...,soif this thread already exists someplace else...,"[soif, this, thread, already, exists, someplac...","[soif, thread, already, exists, someplace, els...","[soif, thread, alreadi, exist, someplac, els, ...","[soif, thread, alreadi, exist, someplac, els, ..."
8672,INTP,so many questions when i do these things. i w...,so many questions when i do these things i wo...,"[so, many, questions, when, i, do, these, thin...","[many, questions, things, would, take, purple,...","[mani, question, thing, would, take, purpl, pi...","[mani, question, thing, would, take, purpl, pi..."
8673,INFP,i am very conflicted right now when it comes t...,i am very conflicted right now when it comes t...,"[i, am, very, conflicted, right, now, when, it...","[conflicted, right, comes, wanting, children, ...","[conflict, right, come, want, children, honest...","[conflict, right, come, want, children, honest..."
8674,INFP,it has been too long since i have been on pers...,it has been too long since i have been on pers...,"[it, has, been, too, long, since, i, have, bee...","[long, since, personalitycafe, although, doesn...","[long, sinc, personalitycaf, although, doesnt,...","[long, sinc, personalitycaf, although, doesnt,..."

In [39]:
# lemmatize
from nltk.stem import WordNetLemmatizer 
  
lm = WordNetLemmatizer()

def lemma_words(lemma):
    lemmatize = [lm.lemmatize(word) for word in lemma]
    return lemmatize

types['lemmatized'] = types['stopwords'].apply(lambda x: lemma_words(x))
types.head()

,type,posts,body_text_clean,tokenized,stopwords,porter_stem,snow_stem,lemmatized
0,INFJ,enfp and intj moments sportscenter no...,and moments sportscenter not top te...,"[and, moments, sportscenter, not, top, ten, pl...","[moments, sportscenter, top, ten, plays, prank...","[moment, sportscent, top, ten, play, prank, li...","[moment, sportscent, top, ten, play, prank, li...","[moment, sportscenter, top, ten, play, prank, ..."
1,ENTP,im finding the lack of me in these posts very ...,im finding the lack of me in these posts very ...,"[im, finding, the, lack, of, me, in, these, po...","[im, finding, lack, posts, alarming, sex, bori...","[im, find, lack, post, alarm, sex, bore, posit...","[im, find, lack, post, alarm, sex, bore, posit...","[im, finding, lack, post, alarming, sex, borin..."
2,INTP,"good one _____ of course, to which i say...",good one of course to which i say i kno...,"[good, one, of, course, to, which, i, say, i, ...","[good, one, course, say, know, thats, blessing...","[good, one, cours, say, know, that, bless, cur...","[good, one, cours, say, know, that, bless, cur...","[good, one, course, say, know, thats, blessing..."
3,INTJ,"dear intp, i enjoyed our conversation the ot...",dear i enjoyed our conversation the other d...,"[dear, i, enjoyed, our, conversation, the, oth...","[dear, enjoyed, conversation, day, esoteric, g...","[dear, enjoy, convers, day, esoter, gab, natur...","[dear, enjoy, convers, day, esoter, gab, natur...","[dear, enjoyed, conversation, day, esoteric, g..."
4,ENTJ,youre fired. thats another silly misconcepti...,youre fired thats another silly misconceptio...,"[youre, fired, thats, another, silly, misconce...","[youre, fired, thats, another, silly, misconce...","[your, fire, that, anoth, silli, misconcept, a...","[your, fire, that, anoth, silli, misconcept, a...","[youre, fired, thats, another, silly, misconce..."

In [51]:
types.to_csv('preprocess.csv')